In [3]:
x = 7
y = "data"

print(x)
print(y)

my_variable = 10
print(my_variable)

my_variable += 5
print(my_variable)

7
data
10
15

Working with Strings

In [15]:
"I am a MSBA student"

question = "What are you studying?"
answer = "Analytics!"
print(question)
print(answer)

print(question + " " + answer) #Concatenation using standard format
print(f"{question} {answer}") #Concatenation using f-string format

##adding a line break
print(question + "\n" + answer)

type(answer) #type function tells you the data type of a variable

What are you studying?
Analytics!
What are you studying? Analytics!
What are you studying? Analytics!
What are you studying?
Analytics!

str

In [16]:
len(answer) #len function tells you the length of a string

10

In [17]:
answer[0] #Indexing starts at 0, so this is the first letter
answer[-1] #This is the last letter
answer[2] #This is the third letter
answer[9] #This is the tenth letter

'!'

In [ ]:
course = "CTBA"
len(course) #length of the string
print(course[0:2]) #prints the first two letters

CT

In [ ]:
#functiona and methods
answer_cap = answer.upper() #makes all letters uppercase
print(answer_cap)

answer_lower = answer.lower() #makes all letters lowercase
print(answer_lower)

answer.find("t") #Find the index of the first occurrence of "t"

ANALYTICS!
analytics!

5

In [ ]:
name = "Mann Pawar"

print("Hello my name is " + name + ". I am studying " + "Business Analytics." )

Hello my name is Mann Pawar. I am studying Business Analytics.

In [26]:
#Tuples
t1 = (1, 2, 3, 4, 5)
t1[0] = 11 #This will give an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [28]:
d1 = {"name": "Mann Pawar", "age": 24, "city": "Mumbai"}

print(d1)

print(d1["name"]) #Accessing value using key

d1["email"] = "mspawar@wm.edu" #Adding a new key-value pair
print(d1)

{'name': 'Mann Pawar', 'age': 24, 'city': 'Mumbai'}
Mann Pawar
{'name': 'Mann Pawar', 'age': 24, 'city': 'Mumbai', 'email': 'mspawar@wm.edu'}

In [30]:
for key, value in d1.items():
    print(key + ": " + str(value))

name: Mann Pawar
age: 24
city: Mumbai
email: mspawar@wm.edu

In [ ]:
#dictionary of dictionaries
people = {
    person1: {"name": "Alice", "age": 30, "city": "New York"},
    person2: {"name": "Bob", "age": 25, "city": "Los Angeles"},
}

In [32]:
distance = {
    "A": {"B": 10, "C": 15},
    "B": {"A": 10, "C": 20},
    "C": {"A": 15, "B": 20},
}

print(distance["A"]["B"])  # Output: 10

10

In [38]:
Student_GPA = {
    "Bryce" : {"GPA": 3.8, "Major": "Finance", "Number_of_Courses": 5},
    "Mann" : {"GPA": 3.6, "Major": "Business Analytics", "Number_of_Courses": 4},
    "Tai" : {"GPA": 3.4, "Major": "Marketing", "Number_of_Courses": 6}
}
print(Student_GPA)

Student_GPA["Conner"] = {"GPA": 3.9, "Major": "Accounting", "Number_of_Courses": 5}
print(Student_GPA)

{'Bryce': {'GPA': 3.8, 'Major': 'Finance', 'Number_of_Courses': 5}, 'Mann': {'GPA': 3.6, 'Major': 'Business Analytics', 'Number_of_Courses': 4}, 'Tai': {'GPA': 3.4, 'Major': 'Marketing', 'Number_of_Courses': 6}}
{'Bryce': {'GPA': 3.8, 'Major': 'Finance', 'Number_of_Courses': 5}, 'Mann': {'GPA': 3.6, 'Major': 'Business Analytics', 'Number_of_Courses': 4}, 'Tai': {'GPA': 3.4, 'Major': 'Marketing', 'Number_of_Courses': 6}, 'Conner': {'GPA': 3.9, 'Major': 'Accounting', 'Number_of_Courses': 5}}

In [40]:
#if statements
x = 10
if x > 5:
    print("x is greater than 5")
    
x = 4

if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is greater than 5
x is even

In [41]:
# Working with elif

x = 0
if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is zero

In [42]:
##for loop with an i and range function
for i in range(5):
    print("i is ", i)

i is  0
i is  1
i is  2
i is  3
i is  4

In [44]:
x = 0
while x < 5:
    if x % 2 == 0:
        print("x is even:", x)
    else:
        print("x is odd:", x)
    x += 1

x is even: 0
x is odd: 1
x is even: 2
x is odd: 3
x is even: 4

In [49]:
import numpy as np